footer {
  border: 1px solid black;
  width: 100%;
  height: 20vh;
}

nav {
  border: 1px solid black;
  width: 100%;
  height: 20vh;
  background-color: @eastern-blue;
  .flex-mixin (center, space-around, row);
  @media @mobile {
    width: 85%;
  }
}
