header {
  background-color: @eastern-blue;
  height: 15vh;
  .flex-mixin(center, space-around,row);

  nav {
    @media @mobile {
      margin-right: 0;
    }
    .flex-mixin(center, space-between,row);
    margin-right: 2rem;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    img {
      width: 10rem;
      height: 100%;
    }
    .links {
      width: 50%;
      height: 10vh;
      .flex-mixin (center, space-between, row);
      a {
        text-decoration: none;
        color: rgb(179, 100, 71);
        font-size: 2rem;
      }
      @media @mobile {
        width: 85%;
      }
    }
  }
}
